 /* skew-grid.html */

header .skew {
    display: grid;
    grid: repeat(5, 100px) / repeat(10, 1fr);
    opacity: 0.2;
  }
  
  header .skew :nth-child(1) {
    grid-column: span 3;
    background-color: red;
  }
  
  header .skew :nth-child(2) {
    grid-area: 3 / span 3 / auto / -1;
    background-color: blue;
  }
  
  header .skew :nth-child(3) {
    grid-area: 4 / span 5 / auto / 7;
    background-color: yellow;
  }
  
  header .skew :nth-child(4) {
    grid-area: 5 / span 2 / auto / -2;
    background-color: green;
  }
  
  header .skew {
    transform: skewY(-12deg);
    transform-origin: 0;
  }

  /* columns-grid.html */

  /* The grid-area CSS property is a shorthand property for grid-row-start, grid-column-start, grid-row-end and grid-column-end, specifying a grid item’s size and location within the grid row by contributing a line, a span, or nothing (automatic) to its grid placement, thereby specifying the edges of its grid area. */

  .card-sets {
    display: grid;
    grid: repeat(5, 200px) / repeat(4, auto);
    text-align: center;
    align-items: center;
  }

  .card-sets div {
    border-right: 1px solid black;
    height: 200px;
    align-items: center;
  }
  
  
  
      